[submodule "themes/gallery"]
	path = themes/gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
[submodule "themes/github"]
	path = themes/github
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
